doctype 5
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    script(src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBQse2O_iQ0XZvps5bOGZL27Q744gmycSE&sensor=true")
    script(src="/javascripts/Chart.js")
    script(src="/javascripts/map.js")
    
  body
    block content
      