extends layout
block content
	#map
	#buttons
		Load Routes
		
		ul
			li
				a#next(href='#') Next
			li
				a#previous(href='#') Previous
			li
				a#all(href='#') All
			li
				a#clear(href='#') Clear
			li
				a#center(href='#') Center map
			li
				a#addMarker(href='#') + Marker
			li
				a#removeMarker(href='#') - Marker
			li
				a#directions(href='#') Directions
				
				
	#submenu
		canvas#graph
