extends layout
block content
	#map
	#buttons
		Load Routes
		
		ul
			li
				a#next(href='#') Next
			li
				a#previous(href='#') Previous
			li
				a#all(href='#') All
			li
				a#clear(href='#') Clear
	#submenu
		canvas#graph